.header__lang-link {
  max-width:30px;
  min-height: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  justify-content: end;
  text-decoration-line: underline;
  text-align: right;
  color: #FFFFFF;
  padding: 18px 9px 0 9px; 
}
.header__lang-link-en {
  text-decoration: none;
}
@media screen and (max-width:320px) {
  .header__lang-link {
    max-width:22px;
    min-height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    padding-top: 30px;
    padding-bottom: 8px;
  }
}