.lead {
  display: grid;
  max-width: 984px;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(4, auto);
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  .lead {
    margin: 0 48px;
  }
}
@media screen and (max-width: 1023px) {
  .lead {
    max-width: 100%;
    margin-left: 24px;
  }
}
@media screen and (max-width: 768px) {
  .lead {
    margin: 0;
  }
}