.lead {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(4, auto);
  max-width:76.88%;
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  .lead {
    max-width: 90.625%;
  }
}
@media screen and (max-width:768px) {
  .lead {
    max-width: 100%;
  }
}
@media screen and (max-width:640px) {
  .lead {
    max-width: 100%;
  }
}
@media screen and (max-width:320px) {
  .lead {
    max-width: 100%;
  }
}