.header {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  flex-wrap: wrap;
  margin: 0 48px 0 48px;
  padding-top: 28px;
}
@media screen and (max-width: 1023px) {
  .header {
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media screen and (max-width: 640px) {
  .header {
    margin-left: 16px;
    margin-right: 16px;    
    padding-top: 16px;
  }
}