.place__paragraphs {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: minmax(min-content, max-content) repeat(2, auto);
  row-gap: 26px;
}
@media screen and (max-width:1024px) {
  .place__paragraphs{
  max-width:456px;
  }
}
@media screen and (max-width:768px) {
  .place__paragraphs{
  max-width: 352px;
  margin: 0 auto;
  row-gap: 25px;
  }
}
@media screen and (max-width:320px) {
  .place__paragraphs{
    max-width: 288px;
    margin: 0 auto;
    row-gap: 25px;
  }
}