.lead__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  text-align: center;
  max-width:56.25vw;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin-bottom: 32px;
  margin-top: 56px;
} 
@media screen and (max-width:1024px) {
  .lead__title {
    max-width:70.3vw;
    margin-top: 48px;
    margin-bottom: 32px;
  }
}
@media screen and (max-width:768px) {
  .lead__title {
    max-width:93.75vw;
  }
}
@media screen and (max-width:640px) {
  .lead__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width:0.9vw;
    font-size: 40px;
    line-height: 44px;
    margin-top: 48px;
    margin-bottom: 16px;
  }
}
@media screen and (max-width:320px) {
  .lead__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width:0.9vw;
    font-size: 40px;
    line-height: 44px;
    margin-top: 48px;
    margin-bottom: 16px;
  }
}