.footer__copyright {
  display: flex;
  margin:0;
  padding:0;
  max-width: 186px;
  min-height: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: white;
  text-decoration: none;
  list-style: none;
  grid-column-start:2;
  margin-left: auto;
}
@media screen and (max-width:320px) {
  .footer__copyright {
    margin-top: 16px;
  }
}