.lead__subtitle {
  max-width:65.04%;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto 64px auto;
} 
@media screen and (max-width:1024px) {
  .lead__subtitle {
    max-width:68.97%;
    margin-bottom: 56px;
  }
}
@media screen and (max-width:770px) {
  .lead__subtitle {
    max-width:640px;
  }
}
@media screen and (max-width:640px) {
  .lead__subtitle {
    max-width:90%;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
}