.place__link {
  max-width:456px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
}
.place__link:hover { 
  opacity: .3;
  transition: 0.6s ease-in-out;
}
@media screen and (max-width:1024px) {
  .place__link  {
  max-width:456px;
  }
}
@media screen and (max-width:768px) {
  .place__link  {
  max-width: 352px;
  }
}
@media screen and (max-width:320px) {
  .place__link  {
  min-width: 288px;
  padding: 0;
  }
}