.place {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows:  minmax(min-content, max-content) repeat(2, auto);
  column-gap: 40px;
  row-gap: 48px;
  margin-bottom: 32px;
} 
@media screen and (max-width:1279px) {
  .place {
    column-gap: 32px;
    margin-bottom: 8px;
  }
}
@media screen and (max-width:1023px) {
  .place {
    margin-bottom: 26px;
    column-gap: 28px;
  }
}
@media screen and (max-width:640px) {
  .place {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    row-gap: 31px;
    margin-bottom: 45px;
  }
}
