.footer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  margin: 0 48px 0 48px;
  padding-bottom: 24px;
  padding-top: 92px;
} 
@media screen and (max-width:1024px) {
  .footer {
    max-width:928px;
  }
}
@media screen and (max-width:768px) {
  .footer   {
    max-width: 720px;

    margin: 0 24px 0 24px;
    padding-top: 88px;
  }
}
@media screen and (max-width: 767px) {
  .footer  {
    display: flex;
    max-width: 90%;
    flex-direction: column ;
    padding-top: 66px;
    margin: 0 0 0 16px;
  }
}