.place__url-heading {
  max-width: 456px;
  color: #AAAAAA;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  .place__url-heading {
    max-width: 456px;
  }
}
@media screen and (max-width: 1000px) {
  .place__url-heading {
    max-width: 352px;
    line-height: 12px;
  }
}
@media screen and (max-width: 700px) {
  .place__url-heading {
    min-width: 288px;
  }
}
@media screen and (max-width: 600px) {
  .place__url-heading {
    max-width: 100%;
    align-self: center;
  }
}