.place__website {
  max-width:456px;
  min-height:46px;
  grid-template-columns: repeat(1, auto);
  grid-template-rows:  repeat(2, auto);
  row-gap: 12px;
  align-self: end;
  justify-self: start;
  margin: 0;
}
@media screen and (max-width:1024px) {
  .place__website  {
    display: grid;
    max-width: 456px;
    grid-template-columns: repeat(1, auto);
    grid-template-rows:  repeat(2, auto);
    row-gap: 12px;
  }
}
@media screen and (max-width:768px) {
  .place__website  {
    max-width: 352px;
  }
}
@media screen and (max-width:320px) {
  .place__website  {
    display: grid;
    max-width: 288px;
    grid-template-columns: repeat(1, auto);
    grid-template-rows:  repeat(2, auto);
    row-gap: 12px;
    padding: 0;
    margin: 0 auto;
  }
}